.banner-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    filter: brightness(75%);
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 1.1rem;
}
